@*Moje Uczelnie -> Konkretna Uczelnia -> Konkretny semestr -> Konkretny przedmiot -> Widok na poszczególne notatki*@
@using StudentNotes.Logic.LogicModels
@model StudentNotes.Logic.ViewModels.University.SemesterSubjectNoteViewModel

<table class="table table-striped">
    <thead>
        <tr>
            <th>Lp.</th>
            <th>Nazwa</th>
            <th>Kategoria</th>
            <th>Rozmiar</th>
            <th>Data wstawienia</th>
            <th>Tagi</th>
            <th></th>
        </tr>
    </thead>
    @for (int i = 0; i < Model.NoteList.Count; i++)
    {
        <tr>
            <td>@(i + 1)</td>
            <td>
                <img class="img-rounded" src="@CategorySelector.GetCategoryPicturePath(Model.NoteList[i].Category)" style="max-height: 34px;" />
                @Model.NoteList[i].Name
            </td>
            <td>@Model.NoteList[i].Category</td>
            <td>@Model.NoteList[i].Size</td>
            <td>@Model.NoteList[i].UploadDate.ToString()</td>
            <td>
                @foreach (var tag in @Model.NoteList[i].Tags)
                {
                    <text>@tag,</text>
                }
            </td>
            <td>
                @Ajax.ActionLink("Usuń plik", "DeleteSemesterSubjectNote", "Note",
               new { noteId = Model.NoteList[i].NoteId, semesterSubjectId = Model.SemesterSubjectId },
                        new AjaxOptions()
                        {
                            UpdateTargetId = "page-content",
                            HttpMethod = "POST",
                            InsertionMode = InsertionMode.Replace,
                            LoadingElementId = "loading"
                        },
                        new { @class = "btn btn-danger" })
            </td>
        </tr>
    }
</table>         


