@using StudentNotes.Web.Models.ResourcesFinderLogic
<div id="navbar-side">
    <ul class="sidebar-nav">
        <li>
            <a class="sidebar-cattegory collapsed" href="javascript:;" data-toggle="collapse" data-target="#my-notes">@ResourceKeyResolver.ConstMyNotes<span class="glyphicon glyphicon-chevron-down"></span></a>
            <ul id="my-notes" class="collapse">
                <li>
                    <a href="index.html"><i class="fa fa-fw fa-dashboard"></i> @ResourceKeyResolver.ConstNewest</a>
                </li>
                <li>
                    <a href="index.html"><i class="fa fa-fw fa-dashboard"></i> @ResourceKeyResolver.ConstPrivate</a>
                </li>
                <li>
                    <a href="index.html"><i class="fa fa-fw fa-dashboard"></i> @ResourceKeyResolver.ConstUniversityNotes</a>
                </li>
                <li>
                    <a href="index.html"><i class="fa fa-fw fa-dashboard"></i> @ResourceKeyResolver.ConstSharedNotes</a>
                </li>
                <li>
                    <a href="index.html"><i class="fa fa-fw fa-dashboard"></i> @ResourceKeyResolver.ConstAllNotes</a>
                </li>
                
            </ul>
        </li>
        <li>
            <a class="sidebar-cattegory collapsed" href="javascript:;" data-toggle="collapse" data-target="#my-groups">@ResourceKeyResolver.ConstMyGroups<span class="glyphicon glyphicon-chevron-down"></span></a>
            <ul id="my-groups" class="collapse">
                <li>
                    <a href="index.html"><i class="fa fa-fw fa-dashboard"></i> Grupa_1</a>
                </li>
                <li>
                    <a href="index.html"><i class="fa fa-fw fa-dashboard"></i> Grupa_2</a>
                </li>
                <li>
                    <a href="index.html"><i class="fa fa-fw fa-dashboard"></i> Grupa_3</a>
                </li>
                <li>
                    <a href="index.html"><i class="fa fa-fw fa-dashboard"></i> Grupa_4</a>
                </li>
                <li>
                    <a href="index.html"><i class="fa fa-fw fa-dashboard"></i> Grupa_5</a>
                </li>
            </ul>
        </li>
        <li>
            <a class="sidebar-cattegory collapsed" href="javascript:;" data-toggle="collapse" data-target="#my-universities">@ResourceKeyResolver.ConstMyUniversities<span class="glyphicon glyphicon-chevron-down"></span></a>
            <ul id="my-universities" class="collapse">
                <li>
                    <a href="index.html"><i class="fa fa-fw fa-dashboard"></i> Uczelnia_1</a>
                </li>
                <li>
                    <a href="index.html"><i class="fa fa-fw fa-dashboard"></i> Uczelnia_2</a>
                </li>
                <li>
                    <a href="index.html"><i class="fa fa-fw fa-dashboard"></i> Uczelnia_3</a>
                </li>
                <li>
                    <a href="index.html"><i class="fa fa-fw fa-dashboard"></i> Uczelnia_4</a>
                </li>
                <li>
                    <a href="index.html"><i class="fa fa-fw fa-dashboard"></i> Uczelnia_5</a>
                </li>
            </ul>
        </li>
    </ul>
</div>
