@using StudentNotes.Web.Models.ResourcesFinderLogic
@model StudentNotes.Logic.ViewModels.LoggedIn.NavbarSideViewModel

<div id="navbar-side">
    <ul class="sidebar-nav">
        <li>
            <a class="sidebar-cattegory collapsed" href="javascript:;" data-toggle="collapse" data-target="#my-notes">@ResourceKeyResolver.ConstMyNotes<span class="glyphicon glyphicon-chevron-down"></span></a>
            <ul id="my-notes" class="collapse">
                <li>
                    <a href="index.html"><i class="fa fa-fw fa-dashboard"></i> @ResourceKeyResolver.ConstNewest</a>
                </li>
                <li>
                    @Ajax.ActionLink(ResourceKeyResolver.ConstPrivate, "PrivateNotes", "Note", null,
                                new AjaxOptions()
                                {
                                    UpdateTargetId = "page-content",
                                    HttpMethod = "GET",
                                    InsertionMode = InsertionMode.Replace,
                                    LoadingElementId = "loading"
                                },
                                new { @class = "fa fa-fw fa-dashboard" })
                </li>
                <li>
                    <a href="index.html"><i class="fa fa-fw fa-dashboard"></i> @ResourceKeyResolver.ConstUniversityNotes</a>
                </li>
                <li>
                    <a href="index.html"><i class="fa fa-fw fa-dashboard"></i> @ResourceKeyResolver.ConstSharedNotes</a>
                </li>
                <li>
                    <a href="index.html"><i class="fa fa-fw fa-dashboard"></i> @ResourceKeyResolver.ConstAllNotes</a>
                </li>
                
            </ul>
        </li>
        <li>
            <a class="sidebar-cattegory collapsed" href="javascript:;" data-toggle="collapse" data-target="#my-groups">@ResourceKeyResolver.ConstMyGroups<span class="glyphicon glyphicon-chevron-down"></span></a>
            <ul id="my-groups" class="collapse">
                @foreach (var group in Model.GroupList)
                {
                    @Ajax.ActionLink(group.Value, "ShowGroupSemesters", "Group",
                        new { groupId = group.Key, groupName = group.Value},
                        new AjaxOptions()
                        {
                            UpdateTargetId = "page-content",
                            HttpMethod = "GET",
                            InsertionMode = InsertionMode.Replace,
                            LoadingElementId = "loading"
                        },
                        new { @class = "fa fa-fw fa-dashboard" })
                }
            </ul>
        </li>
        <li>
            <a class="sidebar-cattegory collapsed" href="javascript:;" data-toggle="collapse" data-target="#my-universities">@ResourceKeyResolver.ConstMyUniversities<span class="glyphicon glyphicon-chevron-down"></span></a>
            <ul id="my-universities" class="collapse">
                @foreach (var university in Model.UniversityList)
                {
                    @Ajax.ActionLink(university.Value, "ShowStudySubjects", "University",
                        new { universityId = university.Key},
                        new AjaxOptions()
                        {
                            UpdateTargetId = "page-content",
                            HttpMethod = "GET",
                            InsertionMode = InsertionMode.Replace,
                            LoadingElementId = "loading"
                        },
                        new { @class = "fa fa-fw fa-dashboard" })
                }
            </ul>
        </li>
    </ul>
</div>
