
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LoggedInLayout.cshtml";
}

@model StudentNotes.Logic.ViewModels.File.UserNotesViewModel

<table>
    @foreach (var privateFile in Model.UserNotesList)
    {
        <tr>
            <td>@privateFile.Name</td>
            <td>@privateFile.Category</td>
            <td>@privateFile.DestinationPath</td>
            <td>@privateFile.Size</td>
            <td>@privateFile.UploadDate.ToString()</td>
        </tr>
    }
</table>