@using System.Diagnostics
@model StudentNotes.Logic.ViewModels.Common.UniversityViewModel

<div id="subjectManagement" class="col-xs-12">
        <div class="col-xs-12">
            <ul class="list-group">
                <li class="list-group-item">
                    <div class="col-xs-1 lp">
                        Lp.
                    </div>
                    <div class="col-xs-2 universityName">
                        Nazwa
                    </div>
                    <div class="col-xs-4 descriptionArea">
                        Opis
                    </div>
                    <div class="col-xs-5 buttonArea">
                        Operacje
                    </div>
                </li>
                
                @for(int i=0; i<Model.Universities.Count; i++)
                {
                    <li class="list-group-item lp">
                        <div class="col-xs-1 lp">
                            @(i + 1)
                        </div>
                        <div class="col-xs-2 universityName">
                            @Model.Universities[i].Name
                        </div>
                        <div class="col-xs-4 descriptionArea">
                            @Model.Universities[i].Description
                        </div>
                        <div class="col-xs-5 buttonArea">
                            <button class="btn btn-info">Szczegóły</button>
                            @Ajax.ActionLink("Konfiguruj", "ConfigureUniversity", "Management",
                            new { schoolId = Model.Universities.ElementAt(i).SchoolId },
                            new AjaxOptions()
                            {
                                UpdateTargetId = "page-content",
                                HttpMethod = "GET",
                                InsertionMode = InsertionMode.Replace
                            },
                            new { @class = "btn btn-warning" })
                            @Ajax.ActionLink("Usuń", "DeleteUniversity", "Management",
                            new{ id = Model.Universities.ElementAt(i).SchoolId},
                            new AjaxOptions()
                            {
                                UpdateTargetId = "page-content",
                                HttpMethod = "GET",
                                InsertionMode = InsertionMode.Replace
                            },
                            new { @class = "btn btn-danger" })
                        </div>
                    </li>
                }
            </ul>
        </div>

    @Ajax.ActionLink("Dodaj uczelnię", "AddNewUniversity", "Management",
                            null,
                            new AjaxOptions()
                            {
                                UpdateTargetId = "page-content",
                                HttpMethod = "GET",
                                InsertionMode = InsertionMode.Replace
                            },
                            new { @class = "btn btn-success" })

</div>

