

<div class="col-xs-12">
    @using (Ajax.BeginForm(
        "SaveUniversitySettings", "Management",
        null,
        new AjaxOptions()
        {
            HttpMethod = "POST"
        },
        new {}

        ))
    {

        @Html.AntiForgeryToken()

        <input id="searchUniversity" type="text" name="university" placeholder="Podaj nazwę szkoły" />
        <input id="searchGrade" type="text" name="grade" placeholder="Wprowadź rocznik"/>
        <input id="searchStudySubject" type="text" name="studySubject" placeholder="Wprowadź kierunek studiów"/>
        <input id="searchSemester" type="text" name="semester" placeholder="Wprowadź numer semestru"/>
        <input id="searchSemesterSubjects" type="text" name="semesterSubjectList" placeholder="Wprowadź listę przedmiotów"/>

        <button type="submit" class="btn btn-success" style="border-radius: 0; width: 140px;" target="blank">Zapisz uczelnię</button>

        //data-autocomplete-url="@Url.Action("UniversitySuggestions", "Search")"


    }
</div>
<script type="text/javascript">
    $(function () {
        $("#searchUniversity").autocomplete({
            source: '@Url.Action("UniversitySuggestions", "Search")'
        });
        $("#searchGrade").autocomplete({
            source: '@Url.Action("GradeSuggestions", "Search")'
        });
        $("#searchStudySubject").autocomplete({
            source: '@Url.Action("StudySubjectSuggestions", "Search")'
        });
        $("#searchSemester").autocomplete({
            source: '@Url.Action("SemesterSuggestions", "Search")'
        });
        $("#searchSemesterSubjects").autocomplete({
            source: '@Url.Action("SemesterSubjectsSuggestions", "Search")'
        });
    });
</script>
