@using StudentNotes.Logic.LogicModels
@using StudentNotes.Web.Models.ResourcesFinderLogic
@model StudentNotes.Logic.ViewModels.Common.MyAccountViewModel
@*Moje konto*@

<div class="col-xs-12">
    <ol class="breadcrumb">
        <li class="active">
            @Ajax.ActionLink(ResourceKeyResolver.ConstMyAccount, "MyAccount", "Management",
                null,
                new AjaxOptions()
                {
                    UpdateTargetId = "page-content",
                    HttpMethod = "GET",
                    InsertionMode = InsertionMode.Replace,
                    LoadingElementId = "loading-content"
                },
                new {})
        </li>
    </ol>
</div>

<div class="col-xs-12">
    <div class="col-sm-2 col-xs-12">
        <img class="img-thumbnail img-responsive" src="@Model.UserInfo.PicturePath" alt="Avatar icon"/>
        @using (Html.BeginForm("ChangeAvatar", "Management", FormMethod.Post, new { enctype = "multipart/form-data", id="changeAvatarForm"}))
        {
            <span class="btn btn-info btn-file">
                Zmień avatar
                <input id="avatarInput" type="file" name="file" accept="image/*" onchange="this.form.submit();">
            </span>
        }
    </div>
    <div class="col-sm-5 col-xs-12">
        @using (Html.BeginForm("SaveUserInfo", "Management", FormMethod.Post, new {@class = "form-horizontal"}))
        {
            <div class="form-group">
                <label class="control-label col-sm-5">IMIĘ:</label>
                <div class="col-sm-7">
                    <input type="text" name="name" class="form-control" value="@Model.UserInfo.Name"/>
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-sm-5">NAZWISKO:</label>
                <div class="col-sm-7">
                    <input type="text" name="lastName" class="form-control" value="@Model.UserInfo.LastName"/>
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-sm-5">ADRES EMAIL:</label>
                <div class="col-sm-7">
                    <input type="text" name="email" class="form-control" disabled value="@Model.UserInfo.Email"/>
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-sm-5">PŁEĆ:</label>
                <div class="col-sm-7">
                    <select class="form-control" name="gender">
                        @switch (Model.UserInfo.Gender)
                        {
                            case "undefined":
                            {
                                <option value="undefined">Nie zdefiniowano</option>
                                <option value="man">Mężczyzna</option>
                                <option value="woman">Kobieta</option>
                                break;
                            }
                            case "man":
                            {
                                <option value="man">Mężczyzna</option>
                                <option value="woman">Kobieta</option>
                                <option value="undefined">Nie zdefiniowano</option>
                                break;
                            }
                            case "woman":
                            {
                                <option value="woman">Kobieta</option>
                                <option value="man">Mężczyzna</option>
                                <option value="undefined">Nie zdefiniowano</option>
                                break;
                            }
                        }
                    </select>
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-sm-5">ZAWÓD/SPECJALIZACJA:</label>
                <div class="col-sm-7">
                    <input type="text" name="profession" class="form-control" value="@Model.UserInfo.Profession"/>
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-sm-5">NUMER TELEFONU:</label>
                <div class="col-sm-7">
                    <input type="text" name="phoneNumber" class="form-control" value="@Model.UserInfo.PhoneNumber"/>
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-sm-5">KOD POCZTOWY:</label>
                <div class="col-sm-7">
                    <input type="text" name="postalCode" class="form-control" value="@Model.UserInfo.PostalCode"/>
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-sm-5">MIASTO:</label>
                <div class="col-sm-7">
                    <input type="text" name="city" class="form-control" value="@Model.UserInfo.City"/>
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-sm-5">ULICA:</label>
                <div class="col-sm-7">
                    <input type="text" name="street" class="form-control" value="@Model.UserInfo.Street"/>
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-sm-5">KRAJ:</label>
                <div class="col-sm-7">
                    <input type="text" name="country" class="form-control" value="@Model.UserInfo.Country"/>
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-sm-5">DATA UTWORZENIA KONTA:</label>
                <div class="col-sm-7">
                    <input type="text" name="createdOn" class="form-control" disabled value="@Model.UserInfo.CreatedOn"/>
                </div>
            </div>

            <button type="submit" class="btn btn-info">Zachowaj zmiany w danych personalnych</button>

        }
    </div>
    @Html.Partial("~/Views/Partials/Management/UserPreferencesPartial.cshtml", Model.UserPreferences)
</div>